.Main {
    padding: 100px 0;
    background: rgb(7,102,235);
    background: linear-gradient(0deg, rgba(7,102,235,1) 0%, rgba(91,155,243,1) 100%); 
    border-radius: 0 0 30px 30px;
    @media (max-width: 768px) {
      padding: 60px 0;
    }
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 15px 10px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus{
    color: #00B4CC;
}
  
.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  

.weather__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 10px;
    }
}

.main__weather {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-img {
      display: flex;
      align-items: center;
    }

    &-location {
      color: white;
      font-size: 40px;
      margin-top: 30px;
      @media (max-width: 992px) {
        font-size: 30px;
      }
      
    }

    &-temperature {
        color: white;
        font-size: 50px;
        font-weight: bold;
        margin-top: 10px;
        @media (max-width: 992px) {
          font-size: 40px;
        }
    }

    &-type {
        font-size: 40px;
        color: rgb(222, 222, 141);
        @media (max-width: 992px) {
          font-size: 30px;
        }
    }

    &-additional {
      font-size: 20px;
        margin-top: 20px;
        color: white;
        font-weight: normal;
    }

    &-date {
        font-size: 30px;
        margin-top: 40px;
        color: white;
        font-weight: normal;
        @media (max-width: 992px) {
          font-size: 20px;
        }
    }

    .WeahterIcon {
      padding: 0;
    }

    .Changer {
      display: flex;
      align-items: center;
      gap: 5px;
      & span {
        font-size: 10px;
        color: white;
        display: flex;
      }
    }

    & button {
        width: 50px;
        height: 50px;
        background: transparent;
        color: white;
        font-size: 30px;
        display: flex;
        margin-top: 15px;
        
    }
}

.additional__weather {
    flex: 0 1 40%;
    height: 400px;
    border-radius: 10px;
    background: rgba(11, 27, 74, .45);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    
    @media (max-width: 992px) {
      flex: 1 1 100%;
      height: 600px;
    }
  .additional__info {
    font-size: 30px;
    color: white;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    & span {
      font-size: 20px;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
  }
}


.wind__compass {
  padding: 30px 0;
  background: #0b1b4a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrapper {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    background: rgba(10, 70, 250, 0.45);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      width: 300px;
      height: 300px;
    }
  }
}

.shell {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.arrow {
  position: absolute;

  .arrows {
      width: 190px;
      height: 190px;
      display: flex;
      justify-content: center;
      position: relative;
      border-radius: 50%;
      

      &:before {
          content: '';
          position: absolute;
          width: 4px;
          height: 90px;
          background: white;
          z-index: 11;
          border-radius: 6px 6px 0 0;  
      }

      &.active {
          color: red;
          &:before {
              background: red;
          }
      }


      &#N {
          transform: rotateZ(0deg);
          &:after {
              content: "N";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#NNE {
          transform: rotateZ(20deg);
          &:after {
              content: "NNE";
              font-size: 10px;
              margin-top: -15px;
          }
      }
      
      &#NE {
          transform: rotateZ(45deg);
          &:after {
              content: "NE";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#ENE {
          transform: rotateZ(70deg);
          &:after {
              content: "ENE";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#E {
          transform: rotateZ(90deg);
          &:after {
              content: "E";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#ESE {
          transform: rotateZ(110deg);
          &:after {
              content: "ESE";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#SE {
          transform: rotateZ(135deg);
          &:after {
              content: "SE";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#SSE {
          transform: rotateZ(160deg);
          &:after {
              content: "SSE";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#S {
          transform: rotateZ(180deg);
          &:after {
              content: "S";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#SSW {
          transform: rotateZ(200deg);
          &:after {
              content: "SSW";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#SW {
          transform: rotateZ(225deg);
          &:after {
              content: "SW";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#WSW {
          transform: rotateZ(250deg);
          &:after {
              content: "WSW";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#W {
          transform: rotateZ(270deg);
          &:after {
              content: "W";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#WNW {
          transform: rotateZ(290deg);
          &:after {
              content: "WNW";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#NW {
          transform: rotateZ(315deg);
          &:after {
              content: "NW";
              font-size: 10px;
              margin-top: -15px;
          }
      }

      &#NNW {
          transform: rotateZ(340deg);
          &:after {
              content: "NNW";
              font-size: 10px;
              margin-top: -15px;
          }
      }
  }
}
