.Main {
    padding: 100px 0;
    background: rgb(7,102,235);
    background: linear-gradient(0deg, rgba(7,102,235,1) 0%, rgba(91,155,243,1) 100%); 
    border-radius: 0 0 30px 30px;
    @media (max-width: 768px) {
      padding: 60px 0;
    }
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 15px 10px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus{
    color: #00B4CC;
}
  
.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  

.weather__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 10px;
    }
}

.main__weather {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-img {
      display: flex;
      align-items: center;
    }

    &-location {
      color: white;
      font-size: 40px;
      margin-top: 30px;
      @media (max-width: 992px) {
        font-size: 30px;
      }
      
    }

    &-temperature {
        color: white;
        font-size: 50px;
        font-weight: bold;
        margin-top: 10px;
        @media (max-width: 992px) {
          font-size: 40px;
        }
    }

    &-type {
        font-size: 40px;
        color: rgb(222, 222, 141);
        @media (max-width: 992px) {
          font-size: 30px;
        }
    }

    &-additional {
      font-size: 20px;
        margin-top: 20px;
        color: white;
        font-weight: normal;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &-date {
        font-size: 30px;
        margin-top: 40px;
        color: white;
        font-weight: normal;
        @media (max-width: 992px) {
          font-size: 20px;
        }
    }

    .WeahterIcon {
      padding: 0;
    }

    .Changer {
      display: flex;
      align-items: center;
      gap: 5px;
      & span {
        font-size: 10px;
        color: white;
        display: flex;
      }
    }

    & button {
        width: 50px;
        height: 50px;
        background: transparent;
        color: white;
        font-size: 30px;
        display: flex;
        margin-top: 15px;
        
    }
}

.additional__weather {
    flex: 0 1 40%;
    height: 200px;
    border-radius: 10px;
    background: rgba(11, 27, 74, .45);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    
    @media (max-width: 992px) {
      flex: 1 1 100%;
      height: 600px;
    }
  .additional__info {
    font-size: 30px;
    color: white;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    & span {
      font-size: 20px;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
  }
}

.additional__bars {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.shell {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);
.compass {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .85);
  position: relative;
  font-family: 'Dosis';
  color: #555;
  text-shadow: 1px 1px 1px white;
  &:before {
    font-weight: bold;
    position: absolute;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    content: "N";
    font-size: 14px;
    top: -2px;
  }
  .direction {
    height: 100%;
    width: 100%;
    display: block;
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    border-radius: 100%;
    p {
      text-align: center;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 80px;
      display: block;
      margin-top: -45px;
      font-size: 40px;
      font-weight: bold;
      span {
        display: block;
        line-height: normal;
        margin-top: -24px;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }
  .arrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid red;
      position: absolute;
      top: -6px;
      left: 50%;
      margin-left: -5px;
      z-index: 99;
    }
    &.NNE { transform: rotate(22.5deg); }
    &.NE { transform: rotate(45deg); }
    &.ENE { transform: rotate(67.5deg); }
    &.E { transform: rotate(90deg); }
    &.ESE { transform: rotate(112.5deg); }
    &.SE { transform: rotate(135deg); }
    &.SSE { transform: rotate(157.5deg); }
    &.S { transform: rotate(180deg); }
    &.SSW { transform: rotate(202.5deg); }
    &.SW { transform: rotate(-135deg); }
    &.WSW { transform: rotate(-114.5deg); }
    &.W { transform: rotate(-90deg); }
    &.WNW { transform: rotate(-69.5deg); }
    &.NW { transform: rotate(-45deg); }
    &.NNW { transform: rotate(-24.5deg);}
  }
}

.additional__content__block {
    margin: 0 auto;
    background: #0b1b4a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    background: rgba(10, 70, 250, 0.45);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      width: 300px;
      height: 300px;
    }

  }
  .bar {
    margin-top: 20px;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background: white;

    &__colored {
      
      height: 10px;
      border-radius: 20px;
      background: red;
    }

    .map-container {
      height: 300px;
      width: 300px;
    }
  }
