
// Navbar
nav {
    background: rgb(7,102,235);
    background: linear-gradient(0deg, rgba(7,102,235,1) 0%, rgba(91,155,243,1) 100%); 
    overflow: hidden;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    
}

.logo {
    a {
        color: white;
        font-size: 30px;
        font-weight: 800;
    }
}

.menu {
    display: flex;

    // .menu__item
    &__item {
        margin-left: 25px;
    }

    // .menu__item-link
    &__item-link {
        color: white;
    }
}

.burger {
    display: none;
    cursor: pointer;
}
